@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Viga&display=swap');

//Font
$roboto-condensed   : 'Roboto Condensed';
$roboto             : 'Roboto';
$viga               : 'Viga';

//Color
$primary        : #222C35;
$primary-dark   : #1B2229;
$secondary      : #E7AE3B;
$text           : #BFBFBF;
$icon-off       : #9B9B9B;
$white          : #ffffff;

//responsive
$sm : 640px;
$md : 768px;
$lg : 1024px;
$xl : 1280px;

